<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <%- include('../partials/header'); %>

    <div id="mapid" style="height: 87vh;"></div>

    <!-- Modal Registro único -->
    <div class="modal fade" id="crimeModal" tabindex="-1" aria-labelledby="crimeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="crimeModalLabel">Nuevo registro</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="crimeForm">
              <div class="row">
                <div class="col-sm-6">

                  <div class="mb-3">
                    <label for="type" class="form-label">Type:</label>
                    <input type="text" class="form-control" id="type" name="type" required>
                  </div>
                  <div class="mb-3">
                    <label for="date" class="form-label">Date:</label>
                    <input type="date" class="form-control" id="date" name="date" required>
                  </div>
    
                  <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                  </div>

                </div>

                <div class="col-sm-6">
                  <div class="mb-3">
                    <button type="button" class="btn btn-secondary btn-sm" id="getLocation">Obtener mi ubicación</button>
                  </div>
                  <div class="mb-3">
                    <label for="latitude" class="form-label">Latitude:</label>
                    <input type="number" class="form-control" id="latitude" name="latitude" step="any" required>
                  </div>
    
                  <div class="mb-3">
                    <label for="longitude" class="form-label">Longitude:</label>
                    <input type="number" class="form-control" id="longitude" name="longitude" step="any" required>
                  </div>
                  <div id="mapid" style="height: 15vh;"></div>
                </div>

              </div>
            
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <hr>
          </div>
        </div>
      </div>
    </div>   

    <!-- Modal Carga masiva-->
    <div class="modal fade" id="multiData" tabindex="-1" aria-labelledby="multiModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="multiData">Carga masiva de datos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Antes de cargar tu archivo, verifica que tenga el siguiente formato:</p>
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <th style="font-size: 14px;">Type</th>
                  <th style="font-size: 14px;">Latitude</th>
                  <th style="font-size: 14px;">Longitude</th>
                  <th style="font-size: 14px;">Date</th>
                  <th style="font-size: 14px;">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="font-size: 14px;">Tipo de suceso</td>
                  <td style="font-size: 14px;">-13.02547</td>
                  <td style="font-size: 14px;">-10.25411</td>
                  <td style="font-size: 14px;">01/12/2000</td>
                  <td style="font-size: 14px;">Detalla el suceso</td>
                </tr>
                <!-- Añadir más filas según sea necesario -->
              </tbody>
            </table>
            <form id="bulkUploadForm" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="file" class="form-label">Cargar archivo .xlsx:</label>
                <input type="file" class="form-control" id="file" name="file" accept=".xlsx" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <hr>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Editar datos -->
    <div class="modal fade" id="editCrimeModal" tabindex="-1" aria-labelledby="crimeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="crimeModalLabel">Editar marcador</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="editCrimeForm">

              <div class="row">
                <div class="col-sm-6">

                  <div class="mb-3">
                    <label for="type" class="form-label">Type:</label>
                    <input type="text" class="form-control" id="editType" name="type" required>
                  </div>
                  <div class="mb-3">
                    <label for="date" class="form-label">Date:</label>
                    <input type="date" class="form-control" id="editDate" name="date" required>
                  </div>
    
                  <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea class="form-control" id="editDesc" name="description" rows="3"></textarea>
                  </div>
  
                </div>
                
                <div class="col-sm-6">
                  <div class="mb-3">
                    <label for="latitude" class="form-label">Latitude:</label>
                    <input type="number" class="form-control" id="editLat" name="latitude" step="any" required>
                  </div>
    
                  <div class="mb-3">
                    <label for="longitude" class="form-label">Longitude:</label>
                    <input type="number" class="form-control" id="editLng" name="longitude" step="any" required>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <hr>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal vista de datos -->
    <!-- Modal -->
    <div class="modal fade" id="crimeModalView" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Información del Crimen</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modalBody">
            <!-- Aquí se mostrará la información del crimen -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" id="btnEditMarker">Editar</button>
            <button type="button" class="btn btn-danger" id="btnDeleteMarker">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>


    <%- include('../partials/footer'); %>

    <script>
      //Este script obtiene la ubicacion actual
        document.getElementById('getLocation').addEventListener('click', function() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              // Rellenar los campos de latitud y longitud con la ubicación actual
              document.getElementById('latitude').value = position.coords.latitude;
              document.getElementById('longitude').value = position.coords.longitude;
            }, function(error) {
              console.error("Error al obtener la ubicación: ", error);
              alert("No se pudo obtener la ubicación. Por favor, inténtelo de nuevo.");
            });
          } else {
            alert("Geolocalización no es compatible con este navegador.");
          }
        });
    </script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!--Bootstrap CDN-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!--Adminlte CDN-->
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
    <!--Leaflet CDN-->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!--Project main js-->
    <script src="/js/main.js"></script>
</body>
</html>