<footer class="main-footer text-center">
    <!--Aqui puedes ingresar tus datos de contacto-->
    <strong>Licencia MIT &copy; 2024<a href="https://santiagoheredia.onrender.com" target="_blank"> Santiago Heredia</a>.</strong>
</footer>